<div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Nome do Projeto</label>
            <input type="text" class="form-control" id="Nome" name="Nome" aria-describedby="emailHelp" placeholder="Digite o nome do projeto">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Potência</label>
            <input type="number" class="form-control" id="potencia" name="potencia" aria-describedby="emailHelp" placeholder="Digite a potência" value="500">
        </div>
    </form>
</div>
<div id="dvMap" style="height:550px; width:650px; float:right; margin-top: 80px"></div>
<script type="text/javascript">
    var map;
    var marker;
    var markers = [];
    function initMap() {

        var CDAM_Latlng = new google.maps.LatLng(-23.5286193, -46.6338504);
        var CDAM_mapOptions = {
            zoom: 15,
            center: CDAM_Latlng
        }
        var map = new google.maps.Map(document.getElementById('dvMap'), CDAM_mapOptions);
        var potencia = document.getElementById('potencia').innerText;
        
        function deleteOverlays() {
            if (markers) {
                for (i in markers) {
                    markers[i].setMap(null);
                }
                markers.length = 0;
            }
        }
        /*
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });
        */

        function placeMarker(location) {
            var data = 
                {
                    "Latitudade": location.lat().toFixed(3),
                    "Longitude": location.lng().toFixed(3)                    
                };
            $.post('/api/eletroposto/addbus', data, function (response) {
                deleteOverlays();
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(data.Latitude, data.Longitude),
                    map: map
                });
            }, 'json');

            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }

        var iconHome = "/BarrasInicio_10px.png";

        var calcscore = function (ListaBarras) {
            deleteOverlays();
            $.each(ListaBarras, function (key, barraweb) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(barraweb.Latitude, barraweb.Longitude),
                    map: map,
                    icon: iconHome
                });
                markers.push(marker);
                google.maps.event.addListener(marker, 'click', (function (marker, ikey) {
                    alert(document.getElementById('potencia').value);
                    var Carga = {
                        Nome: "xxxxxx",
                        Barra: barraweb.CodBarra,
                        PotenciaTotal: document.getElementById('potencia').value
                    };
                    var Projeto = { carga: Carga, barra: barraweb};
                    $.post('/api/eletroposto/calcscore', Projeto, function (response) {
                        
                        calcscore(response);
                    }, 'json');
                }));
            });
        };

        var load = function () {
            $.getJSON("/api/eletroposto/getbus", function (response) {
                calcscore(response);
            });
        };

        load();
    }
</script>
