
@{
    ViewBag.Title = "Alteração de dados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alteração de Dados</h2>
<form>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="tipoPF" value="PF" checked>
            Pessoa Física
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios" id="tipoPJ" value="PJ">
            Pessoa Jurídica
        </label>
    </div>
    <div class="form-group">
        <label for="nome">Nome Completo/Fantasia</label>
        <input type="text" class="form-control" id="nome" placeholder="">
    </div>
    <div class="form-group">
        <label for="documento">CPF/CNPJ</label>
        <input type="text" class="form-control" id="documento" placeholder="">
    </div>
    <button type="submit" class="btn btn-default">Confirmar</button>
    @Html.ActionLink("Cancelar", "Perfil", "App", new { area = "" }, new { @class = "btn btn-danger" })
</form>

