
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>
<dl>
    <dt>Nome Completo/Fantasia</dt>
    <dd>...</dd>
    <dt>CPF/CNPJ</dt>
    <dd>...</dd>
    <dt>E-mail</dt>
    <dd>...</dd>
    <p class="navbar-text"> <a href="#" class="navbar-link">Alterar Dados</a></p>
    <p class="navbar-text"> <a href="#" class="navbar-link">Alterar Senha</a></p>
</dl>

