
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Perfil</h2>
<div>
    <dl>
        <dt>Nome Completo/Fantasia</dt>
        <dd>Ananda Andrade Nascimento</dd>
        <dt>CPF/CNPJ</dt>
        <dd>391.***********</dd>
        <dt>E-mail</dt>
        <dd>anandaan92@gmail.com</dd>
    </dl>
    <div class="btn-group btn-group" role="group" aria-label="...">
        <div class="btn-group" role="group">
            @Html.ActionLink("Alterar Dados", "AltDados", "App", new { area = "" }, new { @class = "btn btn-link" })
        </div>
        <div class="btn-group" role="group">
            @Html.ActionLink("Alterar Senha", "AltSenha", "App", new { area = "" }, new { @class = "btn btn-link" })
        </div>
    </div>
    <br />
    <br />
    <br />
    @Html.ActionLink("Fazer Simulação", "Simulacao", "App", new { area = "" }, new { @class = "btn btn-primary" })
</div>