html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

    .loading-bar:nth-child(1) {
        background-color: #00cc99;
        animation-delay: 0;
    }

    .loading-bar:nth-child(2) {
        background-color: #99cc00;
        animation-delay: 0.09s;
    }

    .loading-bar:nth-child(3) {
        background-color: #ffb91f;
        animation-delay: .18s;
    }

    .loading-bar:nth-child(4) {
        background-color: #cc0033;
        animation-delay: .27s;
    }

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1, 2.2);
    }

    40% {
        transform: scale(1);
    }
}


#cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
    display: none;
    text-align:center;
}

    #cover-spin p {
        text-align: center;
        margin-top: 42%;
        top: 50%;
        left: 50%;
    }

.img_nota {
    width: 100%;
}

@media only screen and (min-width: 750px) {
    .periodomais:before {
        content:"Período mais afetado: ";
    }
}

@media only screen and (max-width: 749px) {
    .periodomais:before {
        content: "Período: ";
    }
}

@media only screen and (min-width: 750px) {
    .distanciamais:before {
        content: "Distância de trechos críticos: ";
    }
}

@media only screen and (max-width: 749px) {
    .distanciamais:before {
        content: "Distância: ";
    }
}